html, body {
	margin: 0;
	padding: 0;
	font-family: "Avenir", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgb(247, 247, 247);
}
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: #cbcbcb;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.is-hover {
	position: absolute;
	user-select: none;
	outline: 1px solid #1890ff;
	box-sizing: border-box;
	p {
		word-break: break-all;
		margin: 0;
	}
}
.default-status {
	position: absolute;
	user-select: none;
	box-sizing: border-box;
	p {
		word-break: break-all;
		margin: 0;
	}
}

.inline-div, .inline-paragraph, .inline-textarea, .inline-img {
	user-select: none;
	border-style: none;
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}

.inline-paragraph {
	word-break: break-all;
}

.inline-textarea {
	padding: 0;
}

.id-tag {
	width: 60px;
	height: 16px;
	bottom: -16px;
	font-size: 12px;
    background: rgba(0,0,0,.3);
    color: #fff;
    position: absolute;
    text-align: center;
    display: block;
    line-height: 16px;
}

.empty {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    object-fit: contain;
}

// 轮播样式
.swiper-container, .swiper-content  {
	height: 100%;
}
.swiper-slide {
	overflow: hidden;
}